body {
    font-family: 'Josefin Slab', serif;
}
/*div {
    border-style: solid;
}*/
h2 {
    font-size: 2em;
    font-weight: 400;
    text-align: center;
}
h3 {
    font-size: 1.5em;
    text-align: center;
    font-weight: 400;
}
#container {
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    width: 350px;
    height: 220px;
    padding: 20px 20px 20px;
    background: #9DD2C7;
    border-radius: 3px;
    box-shadow: 4px 4px #009D9C, 5px 10px 15px rgba(0, 0, 0, 0.2);
}
#calculator {
    margin: 0 auto;
    width: 50%;
    height: 50%;
}
#errors {
    text-align: center;
}
input {
    width: 110px;
    height: 25px;
    padding: 2px 2px 2px;
    margin: 5px 2px 5px;
    border-radius: 3px;
}
.output {
    margin: 5px 5px 5px;
}
output {
    font-size: 15px;
    font-family: Arial;
    background-color: white;
    padding: 2px 2px 2px;
    border-radius: 3px;
}
button {
    font-weight: 600;
    font-size: 16px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
}
#numbers {
    float: left;
    display: inline-block;
}
.buttons {
    height:160px;
    width: 165px;
    text-align: center;
}
#operators {
    display: inline-block;
    float: right;
    height: 160px;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
}
.equals {
    height: 35px;
    width: 35px;
}