<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <title>Pocket Calculator</title>
</head>
<body>
<h2>Calculator</h2>
<div id="container">
    <form role="form" id="calculator" method="POST">
        <div id="input">
            <input name="x" type="number" value="0" required/>
            <input name="y" type="number" value="0" required/>
        </div>
        <output name="out" class="output">
            {% if result %}
                {{ result }}
            {% endif %}
            {% if error %}
                {{ error }}
            {% endif %}
        </output>
        <table id="operators" class="column-right">
            <td><button type="submit" name="add" value="add">+</button></td>
            <td><button type="submit" name="subtract" value="subtract">-</button></td>
            <td><button type="submit" name="multiply" value="multiply">&times;</button></td>
            <td><button type="submit" name="divide" value="divide">&divide;</button><td>
        </table> 
        <table id="numbers" class="column-left">
            <tr>
            <td><button type="submit" value="7">7</button></td>
            <td><button type="submit" value="8">8</button></td>
            <td><button type="submit"value="9">9</button></td>
            </tr>
            <tr>
            <td><button type="submit" value="4">4</button></td>
            <td><button type="submit" value="5">5</button></td>
            <td><button type="submit" value="6">6</button></td>
            </tr>
            <tr>
            <td><button type="submit" value="1">1</button></td>
            <td><button type="submit" value="2">2</button></td>
            <td><button type="submit" value="3">3</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>