<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <title>Pocket Calculator</title>
</head>
<body>
<h2>Calculator</h2>
<div id="calculator">
    <form role="form" id="calc" method="POST">
        <input name="x" type="number" value="0"/><br>
        <input name="y" type="number" value="0"/>
        <button type="submit" name="0" value="add">+</button>
        <button type="submit" name="1" value="subtract">-</button>
        <button type="submit" name="2" value="multiply">&times;</button>
        <button type="submit" name="3" value="divide">&divide;</button>
        <!-- <button type="submit">=</button> -->
        <output name="out" for "x y" class="solve">
            {% if result %}
                {{ result }}
            {% endif %}
        </output>
    </form>

</div>
    
</body>
</html>